@import "tailwindcss";
@import "@fontsource/inter/index.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #99a1af inset !important;
  background-color: #99a1af !important;
}

:root {
  /* #161821 dark-blue background*/
  /* #4b5563 bg-gray-600 */

  --background: #161821;
  --foreground: #ededed;
  --textprimary: #4b5563;
  --textcorrect: #ffffff;
  --textwrong: #f87171;
}

[data-theme="dark"] {
  --background: #161821;
  --backgroundsecondary: #6b7280;
  --foreground: #ededed;
  --textprimary: #4b5563;
  --textsecondary: #6b7280;
  --textcorrect: #ffffff;
  --textwrong: #f87171;
  --texthover: #ffffff;
  --textselected: #ffffff;
  --textindigo: #5c6bc0;
  --caretcolor: #eab308;
  --aboveaverage: #44ba23;
}

[data-theme="light"] {
  --background: #e9e9f1;
  --backgroundsecondary: #6b7280;
  --foreground: #ededed;
  --textprimary: #9e9a9a;
  --textsecondary: #6b7280;
  --textcorrect: #000000;
  --textwrong: #cb2424;
  --texthover: #000000;
  --textselected: #000000;
  --textindigo: #1d21c8;
  --caretcolor: #222287;
  --aboveaverage: #228805;
}

.background-primary {
  background: var(--background);
}

.background-secondary {
  background: var(--backgroundsecondary);
}

.text-primary {
  color: var(--textprimary);
}

.text-secondary {
  color: var(--textsecondary);
}

.text-correct {
  color: var(--textcorrect);
}

.text-wrong {
  color: var(--textwrong);
}

.hover\:text-hover:hover {
  color: var(--texthover);
}

.text-selected {
  color: var(--textselected);
}

.text-counter {
  color: var(--textindigo);
}

.caret-color {
  color: var(--caretcolor);
  background: var(--caretcolor);
}

.text-above-average {
  color: var(--aboveaverage);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #161821;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Roboto Mono", monospace; */
  font-family: Inter, Helvetica, sans-serif;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.custom-type-animation-cursor::after {
  content: "|";
  animation: cursor 0.8s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}
