@import "tailwindcss";
@import "@fontsource/inter/index.css";

:root {
  --background: #1e1f25;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1f25;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.blink-caret {
  animation: blink 1s step-start infinite;
}

.custom-type-animation-cursor::after {
  content: "|";
  animation: cursor 0.8s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}
